* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
  }
  #banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), #009688),
      url("generaldisabilites.jpg") no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #009688), url(.vscode/abe.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  .banner-text {
    text-align: center;
    color: #fff;
    padding-top: 180px;
    display: flex;
    flex-direction: column;
  }
  .banner-text h1 {
    font-size: 130px;
    font-family: "Kaushan Script", cursive;
  }
  .banner-text p {
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-style: italic;
  }
  .banner-text ol {
    padding-top: 100px;
    font-size: 30px;
    font-style: italic;
    font-family: "Kaushan Script", cursive;
  }
  .title-text {
    text-align: center;
    color: #fff;
    padding-top: 120px;
  }
  .background {
    background-size: cover;
    background-position: center;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #009688),
      url("abe.jpg") no-repeat center center fixed;
    /* background-size: cover;
    background-position: center; */
    height: 100vw;
  }
  #link-2
  {
      transition: all 2s ease-in-out;
  }
  #link-2:hover{
      height: 500px;
      width: 1000px;
      background: url("AAROH.png") no-repeat center center/cover;
      border: 2px solid black;
  }
  #link-3
{
    transition: all 2s ease-in-out;
}
#link-3:hover{
    height: 400px;
    width: 1000px;
    background: url("NAS.png") no-repeat center center/cover;
    border: 2px solid black;
}
#link-5
{
    transition: all 2s ease-in-out;
}
#link-5:hover{
    height: 400px;
    width: 1000px;
    background: url("CO.png") no-repeat center center/cover;
    border: 2px solid black;
}
#link-6
{
    transition: all 2s ease-in-out;
}
#link-6:hover{
    height: 400px;
    width: 1000px;
    background: url("E.png") no-repeat center center/cover;
    border: 2px solid black;
}
#link-7
{
    transition: all 2s ease-in-out;
}
#link-7:hover{
    height: 400px;
    width: 1000px;
    background: url("DREDF.png") no-repeat center center/cover;
    border: 2px solid black;
}
#link-8
{
    transition: all 2s ease-in-out;
}
#link-8:hover{
    height: 400px;
    width: 1000px;
    background: url("NDSC.png") no-repeat center center/cover;
    border: 2px solid black;
}
#link-9
{
    transition: all 2s ease-in-out;
}
#link-9:hover{
    height: 400px;
    width: 1000px;
    background: url("SSOG.png") no-repeat center center/cover;
    border: 2px solid black;
}
#link-10
{
    transition: all 2s ease-in-out;
}
#link-10:hover{
    height: 400px;
    width: 1000px;
    background: url("NAMI.png") no-repeat center center/cover;
    border: 2px solid black;
}
#link-11
{
    transition: all 2s ease-in-out;
}
#link-11:hover{
    height: 400px;
    width: 1000px;
    background: url("MDA.png") no-repeat center center/cover;
    border: 2px solid black;
}
#link-12
{
    transition: all 2s ease-in-out;
}
#link-12:hover{
    height: 400px;
    width: 1000px;
    background: url("SHA.png") no-repeat center center/cover;
    border: 2px solid black;
}
#link-13
{
    transition: all 2s ease-in-out;
}
#link-13:hover{
    height: 400px;
    width: 1000px;
    background: url("IA.png") no-repeat center center/cover;
    border: 2px solid black;
}
#link-14
{
    transition: all 2s ease-in-out;
}
#link-14:hover{
    height: 400px;
    width: 1000px;
    background: url("YAI.png") no-repeat center center/cover;
    border: 2px solid black;
}
#link-15
{
    transition: all 2s ease-in-out;
}
#link-15:hover{
    height: 400px;
    width: 1000px;
    background: url("NDY.png") no-repeat center center/cover;
    border: 2px solid black;
}
#link-16
{
    transition: all 2s ease-in-out;
}
#link-16:hover{
    height: 400px;
    width: 1000px;
    background: url("NAMH.png") no-repeat center center/cover;
    border: 2px solid black;
}