*{
    /* background-color: black; */
    color: red;
    margin: 0px;
    padding: 0px;
}
body::before{
    content: "";
    background:url("http://www.ilo.org/infostories/getmedia/740301f6-5213-422b-89dd-f325b3daac2e/disability-social-share.jpg?v=1") no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    background-size: cover;
    position: absolute;
    top:0px;
    left:0px;
    height: 300%;
    width:100%;
    z-index: -1;
    opacity: 0.3;

}
.navbar{
    border-radius: 30px;
    position: sticky;
    top: 0px;
}
.navbar ul{
    overflow: auto;
    background-color: antiquewhite;
}
.navbar li{
    float:left;
    list-style: none; 
    margin: 13px 20px;
}
.navbar li a{
    padding: 3px 3px;
    text-decoration: none;
    color: blue;
    font-family: 'Syncopate', sans-serif;
}
.navbar li a:hover{
    color: red
}
.search{
    float: right;
    color: white;
    padding: 12px 75px;
}
.navbar input{
    border: 2px solid black;
    border-radius: 14px;
    padding: 3px 17px;
    width: 129px;
}
.container{
    display: flex;
    justify-content: space-around;
    padding: 34px 34px;
    margin: 34px;
    flex-wrap: wrap;
}
#title{
    font-family: 'Monoton', cursive;
    font-size: 3rem;
    color:rgb(8, 189, 98);
    font-weight: 300;
}
.categories {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;

}
.item{
    position: relative;
    top: 10px;
    /* width: 24em; */
    /* border-right: 2px solid rgba(255,255,255,.75); */
    font-size: 180%;
    text-align: center; 
    white-space: nowrap;
     overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anime{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
             animation-iteration-count: infinite;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 12em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(102, 255, 0, 0.75);}
  to{border-right-color: greenyellow;}
}

.images {
    height: 100px;
    width: 100px;
    justify-content: center;
    align-items: center;
    margin: 34px;
    padding: 34px;
    transition: all 2s ease-in-out;
    font-size: 1rem;
}

.images:hover {
    height: 300px;
    width: 300px;
    font-size: 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: green;
}

#AboutUs{
    display: flex;
    flex-direction: column;
    padding: 3px 150px;
    justify-content: center;
    align-items: center;
}
#mainheading{
    font-family: "Sofia", sans-serif;
    font-size: 2rem;
    color: Green;
    font-weight: bolder;
}
.info{
    font-size: 1.5rem;
    text-align: center;
    color: rgb(204, 40, 48);
    font-family: 'Lobster', cursive;
}
#end
{
    margin: 300px;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 1.5rem;
}
